.plugin-grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: minmax(20rem, auto);
    gap: 1rem .5rem;
    padding: 1rem;
}

.plugin-grid__cell {
    /* Flex Fallback */
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    flex: 1 1 25rem;
    /* Demo-Specific Styles */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    background: #eaeaea;
}
