<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="coffeenet/_layout">
<head>
  <title th:text="#{frontpage.title}"></title>
  <link rel="stylesheet" th:href="@{/css/coffeenet-frontpage-style.css}"/>
</head>

<body>
<main layout:fragment="coffeenet-main">
    <div class="frontpage--container">

      <div layout:fragment="frontpage-main"></div>

      <footer>
        <img class="frontpage--footer-bar" th:src="@{/img/element_bar.svg}" src="../static/img/element_bar.svg" alt="CoffeeNet Counter"/>
      </footer>
    </div>
</main>

<th:block layout:fragment="coffeenet-scripts">
  <th:block layout:fragment="frontpage-scripts">
  </th:block>
</th:block>
</body>
</html>
