<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">

<body>

<th:block layout:fragment="frontpage-main">

  <a class="frontpage--back-button" th:href="@{/}" th:title="#{frontpage.back}">
    &#8592;
  </a>

  <section class="frontpage--plugin-container">

    <div class="plugin-grid">

      <th:block th:each="availablePlugin : ${availablePlugins}">
        <a class="frontpage--link" th:href="@{/plugins/{id}(id=${availablePlugin.id}, configuration='yes')}"
           th:title="#{plugin.add}">
          <div class="plugin-grid__cell plugin-grid__cell_add">
          <span th:text="${availablePlugin.id}">
            availablePluginTitle
          </span>
          </div>
        </a>
      </th:block>

    </div>

  </section>
</th:block>
</body>
</html>
