<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">

<body>

<th:block layout:fragment="frontpage-main">

  <a class="frontpage--back-button" th:href="@{/add}" th:title="#{frontpage.back}">
    &#8592;
  </a>

  <section class="frontpage--plugin-configuration-container">

    <form
      id="plugin-configuration-form"
      th:action="${configurationInstance != null} ? '/plugins/' + ${plugin.id} + '/instances/' + ${pluginInstanceId} : '/plugins/' + ${plugin.id}"
      th:method="${configurationInstance != null ? 'put' : 'post' }"
      class="plugin-configuration"
      th:classappend="${fields.hasErrors() ? 'invalid' : ''}">

      <div class="plugin-configuration__fields">
        <th:block th:each="field : ${configuration}">
          <label th:for="${field.id}" for="id" th:text="${field.label}" class="plugin-configuration__label"></label>
          <input
            th:name="${field.id}"
            th:type="${field.type}"
            th:id="${field.id}"
            th:value="${configurationInstance != null ? configurationInstance.get(field.id) : fields.getFieldValue(field.id)}"
            id="id"
            th:attr="required=${field.required ? '' : null}"
            class="plugin-configuration__input"
            th:classappend="${fields.hasFieldErrors(field.id)} ? 'invalid' : ''"
          />
          <span
            th:text="${fields.hasFieldErrors(field.id) ? #messages.msg(fields.getFieldError(field.id).getCode()) : ''}"
            class="plugin-configuration__error"></span>

        </th:block>
      </div>
      <div class="button-toolbar">
        <button th:text="#{plugin.add}" th:title="#{plugin.add}" class="button button-toolbar-button">
          pluginId
        </button>
      </div>
    </form>
  </section>
</th:block>

<th:block layout:fragment="frontpage-scripts">
  <script th:src="@{/js/plugin.configuration.form.js}"></script>
</th:block>

</body>
</html>
